.modal {
    color: black;
    text-align: center;
}

.buttons {
    margin-left: 15px;
    margin-right: 15px;
}

.modal-footer {
    text-align: left;
    margin-bottom: -15px;
}

.modal-footer > .form-group {
    margin-top: -10px;
}