.dropdown {
    padding-right: 5px;
}

.navbar-container {
    padding-right: 0;
}

.navbar-collapse {
    border: 0;
}

.nav .navbar-nav {
    margin-top: -5px;
}

/* navbar */
.navbar-default {
    background-color: #52BBFF;
    border: 0;
    border-radius: 0;
}
/* title */
.navbar-default .navbar-brand img {
    max-height: 32px;
    max-width: 32px;
    margin-top: -7px;
}

.navbar-default .navbar-brand {
    color: #FFFFFF;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFFFFF;
    animation: pulse 2s ease;
    
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
    transition: 0.3s ease;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
    background-color: #333;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFFFFF;
    background-color: #AAA;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #FFFFFF;
    background-color: #333;
}

.navbar-default .navbar-nav .open .dropdown-menu {
    padding-top: 0;
}

.navbar-default .navbar-nav .divider {
    margin: 0;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #FFFFFF;
    background-color: #333;
}

/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}
/* mobile version */
.navbar-default .navbar-toggle {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: #FFFFFF;   
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
    
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #333;
        background-color: white;
    }
    .divider {
        background: #FFFFFF;
        margin: 0;
    }
}

@keyframes pulse
{
    0% {
        transform: scale( 1 );
    }
    
    30% {
        transform: scale( .7 );
    }
    
    100% {
        transform: scale( 1 );
    }
}